server_port = 8080

[output]
keep_original = false
output_root = '/home/code-dev/src/live2mp3/bin/data/output'

[scanner]
extensions = [ '.mp4', '.ts' ]

    [[scanner.video_roots]]
    filter_mode = 'blacklist'
    path = '/home/code-dev/src/live2mp3/bin/data/videos1'
    rules = []

    [[scanner.video_roots]]
    filter_mode = 'blacklist'
    path = '/home/code-dev/src/live2mp3/bin/data/videos2'
    rules = []

[scheduler]
merge_window_hours = 2
scan_interval_seconds = 60
ffmpeg_retry_count = 3

[ffmpeg_task]
maxConcurrentTasks = 2
maxWaitingTasks = 10000
taskTimeoutSeconds = 600

[common_thread]
threadCount = 8
name = "CommonThreadPool"